<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.utsushiiro.mdnb.api.repository.mapper.AccountMapper">
    <resultMap id="Account" type="Account">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="account_role" property="accountRole" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <select id="findOne" resultMap="Account">
        select * from accounts where id = #{id}
    </select>

    <select id="findOneByUsername" resultMap="Account">
        select * from accounts where username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into accounts (username, password, account_role)
        values (#{username}, #{password}, #{accountRole.ordinal})
    </insert>

    <update id="update">
        update accounts
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from accounts
        where id = #{id}
    </delete>
</mapper>
