<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.utsushiiro.sharenotes.api.repository.mapper.NoteMapper">
    <resultMap id="Note" type="Note">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <select id="findAll" resultMap="Note">
        select * from notes
    </select>

    <select id="findOne" resultMap="Note">
        select * from notes where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into notes (title, content, user_id)
        values (#{title}, #{content}, #{userId})
    </insert>

    <update id="update">
        update notes
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="content != null">content=#{content},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from notes
        where id = #{id}
    </delete>
</mapper>
